# Supabase Credentials
VITE_SUPABASE_URL=your-supabase-url
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key

# Cloudinary Assets Storage Credentials
VITE_CLOUDINARY_CLOUD_NAME=your-cloudinary-cloud-name
VITE_CLOUDINARY_UPLOAD_PRESET=your-cloudinary-upload-preset

# Paystack Payment Gateway API Credentials
VITE_PAYSTACK_PUBLIC_KEY=your-paystack-public-key
